html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.textbox {
    width: 100%;
    font-size: 100px;
    border: none;
    outline: none;
    text-align: center;
}

.btn {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: rgb(60, 60, 60);
}

.btn:hover {
    background-color: rgb(70, 70, 70);
}

.btn:active {
    background-color: rgb(50, 50, 50);
}
